.expense-form-container {
  max-width: 500px;
  margin: 60px auto;
  padding: 2rem;
  border-radius: 12px;
  background-color: #fcfefc;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.expense-form-container input {
  width: 90%;
  padding: 0.7rem;
  margin: 0.5rem 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.submit-button {
  margin-top: 1rem;
  padding: 0.7rem 2rem;
  background-color: #0d9c33;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #138b084c;
}

.back-button {
  background-color: #f0f0f0;
  color: #555;
  border: 1px solid #bbb;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1.5rem;
}

.back-button:hover {
  background-color: #e0e0e0;
  border-color: #999;
}
